body {
  width: 428px;
  height: 926px;
  font-family: 'Inter', sans-serif;
}

.title-header {
  text-align: center;
}

.budget-container {
  display: flex;
  width: 100%;
  text-align: center;
}

.charts-container {
  margin: 12px;
}

.edit-btn,
.add-btn {
  width: 85px;
  height: 35px;
  border-radius: 32px;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  border: none;
  margin-right: 13px;
}

.submit,
.no-btn {
  border-radius: 32px;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  border: none;
  width: 113px;
  height: 46px;
  margin-right: 16px;
}

.edit-btn,
.no-btn {
  background-color: #EAF6ED;
}

.add-btn,
.submit {
  background-color: #67C587;
  font-weight: 700;
}

.budget-img {
  width: 167px;
  height: 253px;
  margin: auto;
}

.edit-modal,
.add-modal {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;

  position: absolute;
  width: 430px;
  height: 423px;
  left: 0px;
  top: 503px;
}


.modal {
  font-family: 'Inter', sans-serif;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
  text-align: center;
}

.edit-modal,
.add-modal {
  color: black;
}

input[type=number] {
  border: none;
  border-bottom: 1px solid #C4C4C4;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon-div {
  position: relative;
}